@model IEnumerable<Project>

<section class="bg-mode py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="d-sm-flex justify-content-between">
                    <!-- Title -->
                    <h4>Explore products </h4>
                    <a class="btn btn-link" href="#">View all products</a>
                </div>
            </div>
        </div>

        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    @await Html.PartialAsync("Projects/_ProjectCard", item)
                </div>
            }
        </div>
    </div>
</section>