@model State

@{
    ViewData["Title"] = Model.Name;
}

<partial name="_NavBar" />

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                        <h1 class="h4 card-title">Cities of @Model.Name</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var item in Model.Cities)
                            {
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-primary btn-sm my-3">@item.Name (@item.Projects.Count())</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>

<partial name="_Footer" />