@model ProjectInputModel

<div class="modal fade" id="saveProjectModal" tabindex="-1" aria-labelledby="saveProjectLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveProjectLabel">Save Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="project-form" method="post" asp-controller="Projects" asp-action="Create" novalidate enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Project.Name" class="control-label"></label>
                        <input asp-for="Project.Name" class="form-control" />
                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Project.PhotoUpload" class="control-label"></label>
                        <input asp-for="Project.PhotoUpload" class="form-control" type="file" />
                        <span asp-validation-for="Project.PhotoUpload" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Project.CauseId" class="control-label">Cause</label>
                        <select asp-for="Project.CauseId" class ="form-select" asp-items="Model.Causes"></select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">State</label>
                        <select id="States" class ="form-select" asp-items="Model.States">
                            <option selected>-- Select State --</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Project.CityId" class="control-label">City</label>
                        <select asp-for="Project.CityId" class ="form-select" id="CityId"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="project-form" class="btn btn-primary">Save now</button>
                <button type="button" class="btn btn-cta-soft me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>