@model IEnumerable<PrivateChatViewModel>

<div class="card">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h1 class="h4 card-title">Conversations</h1>
        <!-- Button modal -->
        <a class="btn btn-complementary-soft" href="#">
            <i class="fa-solid fa-compass pe-1"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <!-- Chat user tab item -->
                    <a asp-controller="Messenging" asp-action="Chat" asp-route-id="@item.Id" class="text-start">
                        <div class="d-flex">
                            <div class="flex-shrink-0 avatar avatar-story me-2 status-online">
                                <img class="avatar-img rounded-circle" src="~/media/members/@(item.ProfileImage)" alt="">
                            </div>
                            <div class="flex-grow-1 d-block">
                                <h6 class="mb-0 mt-1">@item.FullName</h6>
                                <div class="small text-secondary">@item.Name</div>
                            </div>
                        </div>
                    </a>
                </div>                         
            }
        </div>
    </div>
</div>
