<div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventDetailsLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div> 
                    <p class="lead" id="evtName"></p>
                </div>
               <div>
                   <p>
                        <strong id="evt-start"></strong>
                   </p> 
                   <p>
                        <strong id="evt-end"></strong>
                   </p> 
                   <p><strong id="location"></strong></p>
               </div>
                <div>
                    <p id="details"></p>
                </div>
            </div>
        </div>
    </div>
</div>