@model IEnumerable<DiscussionGroup>

<div class="card h-100">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h1 class="h4 card-title">Discussions</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-complementary-soft" href="#"> 
                <i class="fa-solid fa-compass"></i>
            </a>
            <button type="button" class="btn btn-complementary-soft" data-bs-toggle="modal" data-bs-target="#saveDiscussionGroupModal">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Url</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@item.Name</td>
                        <td>@item.Slug</td>
                        <td>@item.Category!.Name</td>
                        <td>
                            <a asp-controller="DiscussionGroups" asp-action="Details" asp-route-id="@item.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>