@model Project
@{
    ViewData["Title"] = $"{Model.Name} Expenditures";
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                @await Html.PartialAsync("Projects/_ProjectNav", Model)
            </div>

            <div class="col-lg-9 vstack gap-4">
                @await Html.PartialAsync("Expenditures/_ExpendituresTable", Model.Expenditures)
            </div>
        </div>
    </div>
</main>

<vc:save-expenditure></vc:save-expenditure>