@model Project
@{
    ViewData["Title"] = $"{Model.Name} Fundraiser";
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                @await Html.PartialAsync("Projects/_ProjectNav", Model)
            </div>

            <div class="col-lg-9 vstack gap-4">
                @await Html.PartialAsync("Fundraiser/_FundraiserTabs", Model.Fundraiser)
            </div>
        </div>
    </div>
</main>

<vc:save-reward></vc:save-reward>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/app.js"></script>
    <script>
        $(document).ready(() => {
            $.validator.unobtrusive.parse($("#reward-form"));
        });
    </script>
}