<div class="card">
    <div class="card-header border-0 pb-0">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div>
                    <div class="nav nav-divider">
                        <h4 class="nav-item card-title mb-0"> 
                            About
                        </h4>
                    </div>
                </div>
            </div>
            <!-- Card feed action dropdown START -->
            <div class="dropdown">
                <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </a>
                <!-- Card feed action dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
                </ul>
            </div>
            <!-- Card feed action dropdown END -->
        </div>
    </div>
    <div class="card-body">
        <p>
            In mollis efficitur neque ac lobortis. Fusce commodo sit amet diam non hendrerit. Nullam volutpat enim odio, ut rutrum sapien bibendum ac. Ut vulputate malesuada mi, porttitor vestibulum lorem porttitor sit amet. Donec fermentum neque quis nibh eleifend dictum. Duis ac dui magna. Aliquam erat volutpat. Nunc diam nisl, faucibus vel risus id, semper dapibus nisi. Nullam imperdiet efficitur nunc vel commodo. Proin a blandit arcu. Fusce ut nisl varius, fermentum diam condimentum, mattis ligula. Donec et imperdiet lectus, et pellentesque felis.
        </p>
    </div>
</div>