@model Project

@{
    ViewData["Title"] = Model.Name;
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8 vstack gap-4">
                @await Html.PartialAsync("Projects/_ProjectHeader", Model)

                 <div class="row g-4 pb-3">
                    <div class="col-12">
                        @await Html.PartialAsync("Proposals/_ProposalCard", Model.Proposal)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-12">
                        @await Html.PartialAsync("Projects/_ProjectStats", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<partial name="_Footer" />

<vc:make-donation></vc:make-donation>

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $.validator.unobtrusive.parse($("#donation-form"));
        });

        function flashToast(data) {
            const flashToast = document.getElementById('flashToast');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(flashToast);
            const toastBody = document.getElementById('flashToastBody');
            toastBody.innerHTML = data;
            toastBootstrap.show()
        }

        function SaveStudent() {
            if ($("#donation-form").valid()) {
                var myModalEl = document.getElementById('makeDonationModal');
                var modal = bootstrap.Modal.getInstance(myModalEl)
                     
                var formData = $("#donation-form").serialize();
                console.log(formData);
                $.ajax({
                    type: "POST",
                    beforeSend: function (xhr) {  
                        xhr.setRequestHeader("XSRF-TOKEN",  
                            $('input:hidden[name="__RequestVerificationToken"]').val());  
                    },  
                    url: "/Donations/Create",
                    data: formData,
                    success: function (response) {
                        modal.hide();
                        flashToast(response);
                    },
                    error: function (request, status, error) {
                        modal.hide();
                        flashToast(request.responseText);
                    }

                });
            }
        }
        
    </script>
}