@model ChatUser

<div class="d-sm-flex justify-content-between align-items-center">
    <div class="d-flex mb-2 mb-sm-0">
        <div class="flex-shrink-0 avatar me-2">
            <img class="avatar-img rounded-circle" src="~/media/members/@(Model.User!.ProfileImage)" alt="">
        </div>
        <div class="d-block flex-grow-1">
            <h6 class="mb-0 mt-1">@Model.User!.FullName</h6>
            <div class="small text-secondary"><i class="fa-solid fa-circle text-success me-1"></i>Online</div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <!-- Call button -->
        <a href="#!" class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Audio call"><i class="bi bi-telephone-fill"></i></a>
        <a href="#!" class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Video call"><i class="bi bi-camera-video-fill"></i></a>
        <!-- Card action START -->
        <div class="dropdown">
            <a class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" href="#" id="chatcoversationDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></a>               
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="chatcoversationDropdown">
                <li><a class="dropdown-item" href="#"><i class="bi bi-check-lg me-2 fw-icon"></i>Mark as read</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-mic-mute me-2 fw-icon"></i>Mute conversation</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-person-check me-2 fw-icon"></i>View profile</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash me-2 fw-icon"></i>Delete chat</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-archive me-2 fw-icon"></i>Archive chat</a></li>
            </ul>
        </div>
        <!-- Card action END -->
    </div>
</div>