@model ApplicationUser

@{
    ViewData["Title"] = $"{Model.FullName} Calendar";
}

@section Styles { 
    <style>
        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
    </style>
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <partial name="Members/_MemberNav" />
            </div>

            <div class="col-lg-9 vstack gap-4">
                @await Html.PartialAsync("Events/_Calendar")
            </div>
        </div>
    </div>
</main>

<partial name="Events/_EventModal" />

@section JavaScripts {
    <script src="~/assets/vendor/fullcalendar/dist/index.global.min.js"></script>
}

@section Scripts {
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var events = @Html.Raw(ViewData["Events"]);
            var eventArr = [];
            events.forEach(evt => {
                eventArr.push ({
                    title: evt.Name,
                    start: evt.Start,
                    end: evt.End,
                    location: evt.Location,
                    details: evt.Details,
                    project: evt.ProjectName
                },);
            });
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                eventClick: function(info) {
                    const modal = document.getElementById('eventDetailsModal');
                    let eventModal = new bootstrap.Modal(modal);
                    
                    modal.addEventListener('shown.bs.modal', event => {
                        document.getElementById('eventDetailsLabel').innerHTML = info.event.extendedProps.project;
                        document.getElementById('evtName').innerHTML = info.event.title;
                        document.getElementById('details').innerHTML = info.event.extendedProps.details;
                        document.getElementById('location').innerHTML = info.event.extendedProps.location;
                        document.getElementById('evt-start').innerHTML = info.event.start.toLocaleString();
                        document.getElementById('evt-end').innerHTML = info.event.end.toLocaleString();
                    });
                    eventModal.show();
                },
                dateClick: function(info) {
                    //alert(info.dateStr);
                },
                initialView: 'dayGridMonth',
                events: eventArr,
            });
            calendar.render();
        });

    </script> 
}