@model ApplicationUser
@{
    ViewData["Title"] = $"{Model.FullName} Discussion Group";
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <partial name="Members/_MemberNav" />
            </div>

            <div class="col-lg-9 vstack gap-4">
                @if(Model.DiscussionGroup == null)
                {
                    <div class="row g-4">
                        <div class="col text-center">
                            <div class="card card-body">
                                <div class="my-sm-5 py-sm-5">
                                    <i class="display-1 text-muted bi bi-chat-square-text-fill"> </i>
                                    <h4 class="mt-2 mb-3 text-body">You haven't created a discussion group.</h4>
                                    <button class="btn btn-primary-soft my-3" type="button" data-bs-toggle="modal" data-bs-target="#saveDiscussionGroupModal">
                                        <i class="fa-solid fa-plus me-1"></i>
                                        Create 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("DiscussionGroups/_DiscussionGroupTabs", Model.DiscussionGroup)
                }
            </div>
        </div>
    </div>
</main>

<vc:save-discussion-group></vc:save-discussion-group>

@section Scripts {
    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#Body',
            height: 300,
            promotion: false,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
              'bullist numlist outdent indent | link image | print preview media fullscreen | ',
            images_upload_url: '/Editor/TinyMceUpload'
        });
    </script>
}