@model ApplicationUser
@{
    ViewData["Title"] = $"{Model.FullName} Discussion Group";
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <partial name="Members/_MemberNav" />
            </div>

            <div class="col-lg-9 vstack gap-4">
                <p>Add</p>
                @* @await Html.PartialAsync("DiscussionGroups/_DiscussionGroupTabs", Model.DiscussionGroup) *@
            </div>
        </div>
    </div>
</main>

<vc:save-discussion-group></vc:save-discussion-group>

@section Scripts {
    <script src="~/lib/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#Body',
            height: 300,
            promotion: false,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
              'bullist numlist outdent indent | link image | print preview media fullscreen | ',
            images_upload_url: '/Editor/TinyMceUpload'
        });
    </script>
}