@model ApplicationUser
@{
    ViewData["Title"] = $"{Model.FullName} Projects";
}

<partial name="_NavBar" />

<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3">
                <partial name="Members/_MemberNav" />
            </div>

            <div class="col-lg-9 vstack gap-4">
                @await Html.PartialAsync("Projects/_ProjectTable", @Model.Projects)
            </div>
        </div>
    </div>
</main>

<vc:save-project></vc:save-project>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/app.js"></script>
    <script>
        $(document).ready(() => {
            $.validator.unobtrusive.parse($("#project-form"));
            $('#CityId').attr('disabled', true);
            $('#States').change(() => {
                var stateId = $("#States").val();
                console.log(stateId)
                if (stateId > 0) {
                    loadCities(stateId);
                }
                else {
                    alert("Select State.");
                    $('#CityId').empty();
                    $('#CityId').attr('disabled', true);
                    $('#CityId').append('<option value="-1">--No Cities found--</option>');
                }
            });
        });
        
    </script>
}